.App {
  text-align: center;
  margin-left: 5%;
  margin-right: 5%;
}

.counter {
  display: block;
  width: 10%;
  font-size:larger;
  border: solid black;
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgb(142, 139, 139);
  margin: 2%;
}
