.App {
  text-align: center;
  margin: 5%;
  font-size: 14px;
  box-sizing: border-box;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20vw;
  max-width: 200px;
  font-size: 1.2em;
}

.counter-name {
  margin: 0 auto;
  width: fit-content;
  cursor: pointer;
}

.counter-name input {
  width: 20vw;
  max-width: 200px;
  border: none;
  text-align: center;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

.counter-name input:focus {
  outline: none;
}

.count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 12.5%;
  border: solid black;
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgb(142, 139, 139);
  margin: 2%;
}

.count button {
  border: none;
  border-radius: 25px;
  background-color: white;
  font-size: larger;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

