<div id="<%= dom_id counter %>">
  <p>
    <strong>Name:</strong>
    <%= counter.name %>
  </p>

  <p>
    <strong>Style:</strong>
    <%= counter.style %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= counter.count %>
  </p>

</div>
